@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-transform {
  transition-property: transform;
}

.duration-300 {
  transition-duration: 300ms;
}

.custom-tab > div:nth-child(2) {
  border-radius: unset !important;
  background-color: #858484;
}
